<div
  class="grid"
  data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'
>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  
</div>

{% schema %}
{
  "name": "Mason-grid",
  "tag": "section",
  "class": "mason-grid",
  "max_blocks": 5,
  "settings": [
    {
      "type": "mason-text",
      "id": "mason-title",
      "label": "mason-text"
    }
  ],
  "blocks": [
     {
       "name": "mason-block",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "Slideshow",
      "settings": {
        "title": "Slideshow"
      },
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
